{% extends 'base.html.twig' %}
{% block body %}
<style>
.container{
   margin-top: 50px;
   padding-bottom: 20px; 
   
}
</style>
<div class="container">
{{ form_start(form) }}
 {{ form_row(form.username) }}
 {{ form_row(form.email) }}
 {{ form_row(form.plainPassword.first) }}
 {{ form_row(form.plainPassword.second) }}
 <button class="btn btn-lg btn-primary mt-3" type="submit">Register!</button>
{{ form_end(form) }}
</div>
{% endblock %}
