{% extends 'base.html.twig' %}
{% block body %}
<h2>List des Job| <small> <a href="{{ path('AjouterJob')}}">Ajouter</a></small></h2>

<table class="table table-hover table-striped " border="1" >
<thead>
<tr>

<th>Id </th>
<th>Type </th>
<th>ExpiresAt</th>
<th>Description</th>
<th></th>
</tr>
</thead>
<tbody>
{% for Job in lesjob %}
<tr>
<td>{{Job.id}}</td>
<td>{{Job.type | upper }}</td>
<td>{{Job.getExpiresAt| date ('d/m/Y')}}</td>
<td>{{Job.getDescription}}</td>
<td>{{Job.getEmail}}</td>


<td>
<a class="btn btn-primary" href="{{path('job_show',{'id': Job.id})}}">Voir</a>
<a class="btn btn-info" href="{{path('job_edit',{'id': Job.id})}}">
 <span class="glyphicon glyphicon-pencil" aria-hidden="true">Modifier</span></a>
<a class="btn btn-danger" href={{path('job_delete',{'id': Job.id})}}"
 onclick="return confirm('Are you sure to delete ! ')">Supprimer</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}