{% extends 'base.html.twig' %}
{% block body %}
{% for message in app.flashes('success') %}
      <div class="alert alert-success">
         {{ message }}
      </div>
  {% endfor %}
<style>
.container{
    border-radius:10px;
    box-shadow: 0 4px 16px rgba(0,0,0,.25);
     margin: 60px;
    padding: 60px;
}
</style>

<h2>List des Employes| <small> <a class="btn btn-primary" href="{{ path('AjouterEmp')}}">Ajouter</a></small></h2>



<table class="table table-hover table-striped " >
<thead>
<tr>

<th>Id </th>

<th>Nom </th>
<th>Salaire</th>
<th>BornAt</th>
<th>Email</th>

<th></th>
</tr>
</thead>

  
<tbody>

<div class="employe">
{% for Employe in lesemploye %}
<tr>
<td>{{ Employe.id }}</td>

<td>{{ Employe.getNom | upper }}</td>
<td>{{ Employe.getSalaire }}</td>
<td>{{ Employe.getBornAt() | date ('d-m-Y') }}</td>
<td>{{ Employe.getEmail }}</td>

  </div>
<td>
<a class="btn btn-primary" href="{{path('employe_show',{'id': Employe.id})}}">Voir</a>
<a class="btn btn-success" href="{{path('employe_edit',{'id': Employe.id})}}"
onclick="return confirm('Are you sure to update  ! ')">Modifier</a>
<a class="btn btn-danger" href="{{path('emp_delete',{'id': Employe.id})}}"
 onclick="return confirm('Are you sure to delete ! ')">Supprimer</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}